<section class="py-2">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="display-3 mt-3 pt-5">
                Client Payment Portal
            </h1>
            <p class="lead">Classic, Hybrid, & Volume Lash Sets.</p>
            <form action="/charge" method="POST">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{stripePublishableKey}}" data-amount="3500" data-name="Lash Appt"
                    data-description="Lashed With Kayy" data-image="/img/smaller.png" data-locale="auto">
                    </script>
                <script>
                    // Hide default stripe button
                    document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
                </script>
                <button type="submit" class="btn btn-outline-dark text-white btn-lg">Pay For Appointment</button>
            </form>
        </div>
        <div class="col-md-6">
            <img src="/img/marketplace.jpg" alt="" class="img-fluid">
        </div>
    </div>
</section>